.gradle/*.*
credential.properties
src/test/resources/config/*.*
# Compiled class file
*.class
# Log file
*.log

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
*.iml
*.secret

# Project gen files
allure.properties
.idea/

build/
bin/
out/
logs/
target/
.classpath
.project
.settings/org.eclipse.buildship.core.prefs
.vscode
.allure/
!gradlew*
!gradle-wrapper.properties

/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/buildOutputCleanup/cache.properties
/src/test/resources/config/credentials.properties
/.gradle/vcs-1/gc.properties
/.gradle/buildOutputCleanup/outputFiles.bin
/src/test/resources/config/
